<a href="https://colab.research.google.com/github/seonjhang/POSCO-AI-BigData-Academy/blob/main/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 프로그래밍 기초 실습 2

### 1. 조건문(if)

#### (문제1) 입력 받은 정수가 짝수인지 홀수인지 판별

In [8]:
num = input("Enter a number: ")
num = int(num)
if num %2 == 0 :
    print("%d is Even number" % num)
else :
    print("%d is Odd number" % num)

Enter a number: 7
7 is Odd number

In [9]:
num = input("Enter a number: ")
num = int(num)
if num %2 == 0 :
    print("%d is Even number" % num)
else :
    print("%d is Odd number" % num)

Enter a number: 14
14 is Even number

#### (문제2) 
프로그래밍 과목의 중간고사와 기말고사 점수를 입력 받아 평균과 학점을 구하는 프로그램을 작성하시오.

In [10]:
mid = int(input("Enter your midterm score: "))
fin = int(input("Enter your final score: "))

avg = (mid + fin) / 2
print("Average: ",avg)

if avg >= 90:
    print("Grade: A")
elif 80 <= avg < 90 :
    print("Grade: B")
elif 70 <= avg < 80 :
    print("Grade: C")
elif 60 <= avg < 70 :
    print("Grade: D")
else :
    print("Grade: F")

Enter your midterm score: 77
Enter your final score: 56
Average:  66.5
Grade: D

#### (문제3) 
학생수준평가 시험에서 영어 점수와 수학 점수가 합해서 110점 이상이면 합격이다. 단, 각 점수가 40점 미만이면 불합격이다. 영어(eng), 수학(math)점수를 입력 받아 합격여부를 출력하는 프로그램을 작성하시오.

In [11]:
eng = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))
_sum = eng + math

if _sum < 110 :
    print("불합격: 총합 점수 부족")
elif eng < 40 :
    print("불합격: 영어 점수 부족")
elif math < 40 :
    print("불합격: 수학 점수 부족")
else :
    print("합격")

영어 점수 입력: 80
수학 점수 입력: 20
불합격: 총합 점수 부족

In [13]:
eng = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))
_sum = eng + math

if _sum < 110 :
    print("불합격: 총합 점수 부족")
elif eng < 40 :
    print("불합격: 영어 점수 부족")
elif math < 40 :
    print("불합격: 수학 점수 부족")
else :
    print("합격")

영어 점수 입력: 90
수학 점수 입력: 30
불합격: 수학 점수 부족

In [15]:
eng = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))
_sum = eng + math

if _sum < 110 :
    print("불합격): 총합 점수 부족")
elif eng < 40 :
    print("불합격: 영어 점수 부족")
elif math < 40 :
    print("불합격: 수학 점수 부족")
else :
    print("합격")

영어 점수 입력: 70
수학 점수 입력: 80
합격

In [16]:
eng = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))
_sum = eng + math

if _sum < 110 :
    print("불합격: 총합 점수 부족")
elif eng < 40 :
    print("불합격: 영어 점수 부족")
elif math < 40 :
    print("불합격: 수학 점수 부족")
else :
    print("합격")

영어 점수 입력: 35
수학 점수 입력: 30
불합격: 총합 점수 부족

In [17]:
eng = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))
_sum = eng + math

if _sum < 110 :
    print("불합격: 총합 점수 부족")
elif eng < 40 :
    print("불합격: 영어 점수 부족")
elif math < 40 :
    print("불합격: 수학 점수 부족")
else :
    print("합격")

영어 점수 입력: 35
수학 점수 입력: 95
불합격: 영어 점수 부족

#### (문제4) PPT 문제
세 개의 정수를 입력 받아, 가장 큰 수만 출력하는 프로그램을 작성하시오. (max 함수 이용하지 않고 구할 것)

In [18]:
a, b, c = input("세 개의 수를 입력하시오: ").split()

if a > b :
    if a > c :
        print("가장 큰 수는 %s입니다." %a)
    elif c > a :
        print("가장 큰 수는 %s입니다." %c)
elif b > c :
    print("가장 큰 수는 %s입니다." %b)
else :
    print("가장 큰 수는 %s입니다." %c)

세 개의 수를 입력하시오: 30 22 50
가장 큰 수는 50입니다.

### 2. 반복문

#### (문제1)
단어(문자열)가 주어질 때, 아래와 같이 출력되도록 작성하시오.

In [19]:
word = 'Python'
i = 0
while i < len(word) :
    print(word[i])
    i += 1

P
y
t
h
o
n

#### (문제2)
for 문을 이용하여 작성 (문자열)

In [20]:
word = 'Python'
for i in word :
    print(i)

P
y
t
h
o
n

#### (문제2)
아래와 같이 출력되는 프로그램을 작성하시오.

In [21]:
for n in range(10,0,-1) :
    print(n, end=',')
print("Happy new year!!")

10,9,8,7,6,5,4,3,2,1,Happy new year!!

#### (문제3)
양의 두 정리 a,b를 입력 받아, a부터 b까지의 정수의 합을 구하여 출력하는 프로그램을 작성하시오. (for 또는 while을 이용할 것)
단, 조건 a <= b 을 만족하는 값만 고려한다.

In [22]:
nums = input("Enter two integers: ").split(' ')
a, b = nums
a = int(a)
b = int(b)

_sum = a
total = 0
while _sum <= b :
    total += _sum
    _sum += 1
print("The sum from %d to %d is %d" % (a,b,total))

Enter two integers: 5 10
The sum from 5 to 10 is 45

#### (문제4)
주어진 문자열에 문자a가 몇 개 읶는지 구하는 프로그램을 작성하시오. (for문 사요할 것)

In [23]:
word = 'banana'
word = list(word)

n = 0
_sum = 0
for i in word :
    if i == 'a' :
        _sum += 1
        n += 1
print(_sum)

3

#### (문제5)
for 문과 range()함수를 이용하여 다음과 같이 출력되도록 작성하시오.

In [24]:
for i in range(0,10) :
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [25]:
for i in range(0,51,5) :
    print(i, end=' ')

0 5 10 15 20 25 30 35 40 45 50

In [26]:
for i in range(10,0,-1) :
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

#### (문제 6)
for 문을 사용하여 리스트(colors)의 모든 내용을 출력하시오. (단, range()를 이용하지 않는다.)

In [27]:
colors = ["red", "green", 'blue']
for i in colors :
    print(i)

red
green
blue

#### (문제 7)
리스트 a 전체를 반복해서 방문하되, 짝수만 출력하시오.(for 문 사용)

In [28]:
a = [1,3,4,5,6,7,8,9,10,11,12,13]
for i in a :
    if i % 2 == 0 :
        print(i, end=' ')

4 6 8 10 12

#### (문제 8)
구구단 출력1

In [29]:
b = range(1,10)
mul = int(input("출력하고 싶은 단을 입력하세요: "))
for i in b :
    print(mul, "*", i, "=", str(mul * i).rjust(2))
# 오른쪽 정렬 str(대상).rjust(n칸)

출력하고 싶은 단을 입력하세요: 7
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

#### (문제 9)
구구단 출력2 (중첩 반복문)

In [30]:
a = range(2,10)
b = range(1,10)
for x in a :
    print("= = %d단 = =" %x)
    for y in b :
        print(x, "*", y, "=", str(x*y).rjust(2))

= = 2단 = =
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
= = 3단 = =
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
= = 4단 = =
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
= = 5단 = =
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
= = 6단 = =
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
= = 7단 = =
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
= = 8단 = =
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
= = 9단 = =
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### (문제 10)

In [31]:
a = range(2,10)
b = range(1,10)

for y in b :
    for x in a :
        print(x, "*", y, "=", str(x*y).rjust(2), end = " ")
    print()

2 * 1 =  2 3 * 1 =  3 4 * 1 =  4 5 * 1 =  5 6 * 1 =  6 7 * 1 =  7 8 * 1 =  8 9 * 1 =  9
2 * 2 =  4 3 * 2 =  6 4 * 2 =  8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18
2 * 3 =  6 3 * 3 =  9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27
2 * 4 =  8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36
2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45
2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54
2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63
2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72
2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

#### (문제 11)

In [32]:
s_num = input("Input an integer: ")
s_num = list(s_num)
i = 0
for i in s_num :
    i = int(i)
    print("★" * i)

Input an integer: 3159
★★★
★
★★★★★
★★★★★★★★★

#### (문제 12)

In [33]:
num_list = list()
while True:
    num = input("Enter a number: ")
    if num == 'done':
        break
    num_list.append(num)
num_list = list(map(float, num_list))
print()
print(num_list)
print("Average: ",sum(num_list)/len(num_list))
print("Maximum: ",max(num_list))
print("Minimum: ",min(num_list))

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done

[7.0, 2.0, 9.0, 3.0, 5.0]
Average:  5.2
Maximum:  9.0
Minimum:  2.0

### 3. 리스트 관련 함수 - 추가

In [34]:
before = ['2021', '08', '18']
after = list(map(int,before))
after

[2021, 8, 18]